[build]
command = ""
publish = "."

[functions]
directory = "netlify/functions"
node_bundler = "esbuild"
external_node_modules = ["openai", "youtube-transcript-api"]

[functions.summarize]
timeout = 26